.forgetPassword{
	width: 714px;
	height: 474px;
	margin: 0px auto;
	border: 1px solid #E5E5E5;
	margin-top: 45px;
	padding: 10px 33px;
	background-color: #FFFFFF;
}
.forgetPassword1{
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #E5E5E5;
}
.forgetPassword1 .pull-left{
	font-size: 18px;
}
.forgetPassword1 .pull-right a{
	font-size: 16px;
	color: #7d7d7d;
}
.forgetPassword2{
	width: 400px;
	padding-top: 25px;
	text-align: center;
	margin: 0px auto;
}
.forgetPassword2 h5{
	font-size: 15px;
	margin-bottom:15px;
	margin-top: 15px;
}
.forgetPassword2 .text-one{
	width: 389px;
	height: 46px;
	border: 1px solid #e5e5e5;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding-left: 38px;
	background-image: url(../img/forget_01.png);
	background-repeat: no-repeat;
	background-position: 5px 8px;
	*background-position-x:5px;
	*background-position-y:8px;
	font-size: 15px;
	line-height: 20px;
}
.forgetPassword2 .text-img{
	background-image:none;
	padding-left:20px;
}
.forgetPassword2 .next-one{
	display: inline-block;
	width: 389px;
	height: 46px;
	border: 1px solid #e5e5e5;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #13b5b1;
	font-size: 15px;
	line-height: 46px;
	margin-top: 30px;
	border: none;
	outline: none;
	color: #FFFFFF;
	cursor: pointer;
}
.forgetPassword2 .p-one{
	margin-top: 120px;
	color: #a1a1a1;
}
.margin-small-p .p-one{
	margin-top: 74px;
}
