/*左边栏导航条 begin*/
.two-star-zhgj{
	height: auto;
}
.two-star-zhgj1{
	height: 36px;
	border-top:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
	border-bottom: 3px solid #e9608c;
	background-color: #f7f7f7;
	position: relative;
}
.two-star-zhgj1 ul li{
	float:left;
}
.two-star-zhgj1 .list-inline li a{
	display: inline-block;
	padding: 0 30px;
	height:32px;
	line-height:32px;
	color: #333333;
	background-image: url(../img/li_right.png);
    background-position: right center;
    background-repeat: no-repeat;
}
.two-star-zhgj1 .list-inline li .active{
	background-image: url(../img/jhfa_li_bg.png);
	background-size: 100%;
    color: #ffffff;
    border: none;
}
.two-star-zhgj1 .list-inline li:last-child a{
	background-image: none;
}
/*左边栏导航条 end*/
.jhfa{height: auto;}
.jhfa1{height: auto;}
.jhfa1a{height: 34px;border: 1px solid #ececec;padding-bottom: 10px;margin-top: 2px;margin-bottom: 5px;padding-left:30px;border-bottom:2px solid #9DC412;background-color:#ffffff;}
.jhfa1a ul{
	margin: 0px;
	padding-top:4px;
	padding-bottom:4px;
	display:inline-block;
	float:left;
}
.jhfa1a ul li{
	padding: 4px 20px;
	cursor: pointer;
	background-image: url(../img/li_right.png);
	background-position:right center;
	background-repeat:no-repeat;
}
.jhfa1a ul .active{
	 background-image: url(../img/jhfa_li_bg.png);
	/* background-image: url(../img/hs.png); */
	color: #FFFFFF;
	border:none;
	background-repeat:repeat-x;
	
}
.jhfa1b{
	padding-left: 15px;
	border: 1px solid #E5E5E5;
	font-size: 12px;
	background: #F5F4F4;
	clear:both;
}
.jhfa1b .span-one{
	display: inline-block;
	float: left;
	line-height: 45px;
	
}
.jhfa1b .span-two{
	display: inline-block;
	float: left;
	padding-left: 2px;
	line-height: 45px;
}
.jhfa1b .inputText,.jhfa1b .selecter_2{
	width: 57px;
	height: 28px;
	float: left;
	margin: 8px 4px 0 0;
	border: 1px solid #AAAAAA;
	border-radius: 5px;
	font-size: 13px;
	line-height: 13px;
	text-align: center;
}
.jhfa1b .select2{
	float: left;
	margin-top: 8px;
	margin-right: 3px;
}
.jhfa1b .shengcheng{
	outline: none;
	border: none;
	width: 94px;
	padding-left: 10px;
	height: 30px;
	line-height:31px;
	text-align:center;
	color:#ffffff;
	background-image: url(../img/btn_sc.png);
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	margin-top: 6px;
	margin-left:5px;
	cursor: pointer;
}
.jhfa1b .shengcheng:hover{
	opacity:.8;
}
.jhfa1c{
	height: 40px;
	line-height: 40px;
	padding-left: 15px;
	color: #D21E1E;
	background-color: #fdfdfd;
	border-right:1px solid #dcdcdc;
	border-left:1px solid #dcdcdc;
	clear:both;
	font-size:12px;
}
.jhfa1dbrother ul{
	height: 50px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #FFFFFF;
	border: none;
	border-bottom:1px solid #dddddd;
	margin:0px;
	border-left:1px solid #dddddd;
	border-right:1px solid #dddddd;
}
.jhfa1dParents{
	height: auto;
}
.jhfa1d ul{
	display: inline-block;
	float: left;
}
.jhfa1d .span-one{
	display: inline-block;
    float: left;
    width: 74px;
    height: 27px;
    border-radius: 4px;
    line-height: 27px;
    text-align: center;
    background-image: url(../img/jhfa_zk.png);
    background-repeat: no-repeat;
    background-position:center;
    cursor: pointer;
    margin-top:3px;
    color:#4781ce;
}
.jhfa1d .down{
	background-image: url(../img/jhfa_sq.png);
}
.jhfa1d .list-inline{
	margin: 0px;
}
.jhfa1d .list-inline li{
	padding-left: 9px;
	padding-right: 9px;
	line-height: 34px;
	float: left;
	cursor: pointer;
	font-size:13px;
	color:#674104;
}
.jhfa1dbrother .list-inline li{
	padding-left: 7px;
	padding-right: 10px;
	line-height: 34px;
	float: left;
	cursor: pointer;
	font-size:13px;
}
.jhfa1dbrother .list-inline .active{
	color: #D21E1E;
}
.jhfa1dbrother .jhfa1d{
	border-top: none ;
}
.jhfa1d {
    padding-top: 8px;
    padding-bottom: 8px;
    padding:0px;
    background-color: #FFEDD1;
    border: 1px solid #EFCE9A;
}
.jhfa1d .list-inline .active{
	color: #D21E1E;
}
.jhfa1d .list-inline .active1{
	/* #BFE331 #121211 */
	    background-color: #DA9B39;
    	color: #ffffff;
    	font-size:15px;
    	font-weight:bold;
    	padding-left:2px;
    	padding-right:2px;
    	
}
.jhfa1d .list-inline .prev{
	width: 13px;
	height: 34px;
	background-image: url(../img/jhfa_btn_02.png);
	background-repeat: no-repeat;
	background-position: center;
}
.jhfa1d .list-inline .next{
	width: 13px;
	height: 34px;
	background-image: url(../img/jhfa_btn_03.png);
	background-repeat: no-repeat;
	background-position: center;
}
.jhfa1e{
	height: 860px;
	background-color: #FFFFFF;
	overflow: auto;
	border-bottom: 1px solid #ddddde;
	clear:both;
}
.jhfa1e .table{
	table-layout: fixed;
	border: 1px solid #ddddde;
	border-top: none;
	margin-bottom: 0px;
}
.jhfa1e .table tr th{
	text-align: center;
	background-color: #f9f9f9;
	border-top: none;
	border-right: 1px solid #ddd;
}

.jhfa1e .table tr td{
	text-align: center;
	border-color:#f1f1f1;
}
.jhfa1e .table tr .th01{
	width: 75px;
}
.jhfa1especial .table tr .th01{
	width: 110px;
}
.jhfa1e .table tr .th02{
	width: 140px;
}
.jhfa1especial .table tr .th02{
	width: 180px;
}
.jhfa1e .table tr .padding-no{
	padding: 0px;
}
.newest div{
	float: left;
	display: inline-block;
	font-size: 12px;
}
.newest div .goTouzhu{
	font-size:15px;
	text-decoration:underline;
}
.newest .div-three span{
	display:inline-block;
	width:100%;
	position:relative;
}
.newest .div-one{
	width: 75px;
	border-right: 1px solid #ddddde;
}
.jhfa1especial .newest .div-one{
	width: 110px;
	border-right: 1px solid #ddddde;
}
.jhfa1especial .div-four{
	line-height: 120px;
	text-align: center;
	width: 109px;
}
.newest .div-two{
	width: 140px;
	border-right: 1px solid #ddddde;
}
.jhfa1especial .newest .div-two{
	width: 180px;
	border-right: 1px solid #ddddde;
}
.newest .div-one ul li{
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 12px;
}
.newest .div-two ul li{
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 12px;
}
.div-three{
	line-height: 120px;
	text-align: center;
	width: 247px;
	border-right: 1px solid #ddddde;
}
.div-three a{
	font-weight:bold;
}
.div-four{
	line-height: 120px;
	text-align: center;
	width: 74px;
}
.jhfa1e .table tr td .panel-default{
	border: none;
	margin: 0px;
}
.jhfa1e .table tr td .panel-heading{
	height: 30px;
	padding: 0px;
	border:none;
}
.jhfa1e .table tr td .panel-heading .panel-title span{
	float: left;
	display: inline-block;
	text-align: center;
	font-size: 12px;
}
.jhfa1e .table tr td .panel-heading .panel-title .span-one{
	width: 75px;
	line-height: 30px;
	
}
.jhfa1especial .table tr td .panel-heading .panel-title .span-one{
	width: 110px;
	line-height: 30px;
	
}
.jhfa1especial .div-three{
	line-height: 120px;
	text-align: center;
	width: 262px;
	border-right: 1px solid #ddddde;
}
.jhfa1e .table tr td .panel-heading .panel-title .span-bg-select{
	background-image: url(../img/xiala_00_06.png);
	background-repeat: no-repeat;
	background-position: 63px 12px;
	*background-position-x:63px;
	*background-position-y:12px;
}
.jhfa1especial .table tr td .panel-heading .panel-title .span-bg-select{
	background-image: url(../img/xiala_00_06.png);
	background-repeat: no-repeat;
	background-position: 95px 12px;
	*background-position-x:95px;
	*background-position-y:12px;
}
.jhfa1e .table tr td .panel-heading .panel-title .span-two{
	width: 140px;
	line-height: 30px;
}
.jhfa1especial .table tr td .panel-heading .panel-title .span-two{
	width: 180px;
	line-height: 30px;
}
.jhfa1e .table tr td .panel-heading .panel-title .span-three{
	width: 247px;
	line-height: 30px;
	position:relative;
}
.jhfa1especial .table tr td .panel-heading .panel-title .span-three{
	width: 262px;
	line-height: 30px;
}
.jhfa1e .table tr td .panel-heading .panel-title .span-four{
	width: 74px;
	line-height: 30px;
}
.jhfa1especial .table tr td .panel-heading .panel-title .span-four{
	width: 109px;
	line-height: 30px;
}
.jhfa1e .table tr td .panel-heading .panel-title span .zhongjiang{
	display: inline-block;
	width: 52px;
	height: 23px;
	line-height: 23px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #e9608c;
	color: #FFFFFF;
	margin-top:4px;
}
.jhfa1e .table tr td .panel-body{
	padding: 0px;
}
.select-body{
	height: auto;
}
.select-body ul{
	margin: 0px;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px dotted #DDDDD5;
}
.select-body ul li{
	float: left;
	text-align: center;
	font-size: 12px;
	height: 30px;
}
.select-body ul .li-one{
	width: 75px;
}
.jhfa1especial .select-body ul .li-one{
	width: 110px;
}
.select-body ul .li-two{
	width: 140px;
}
.jhfa1especial .select-body ul .li-two{
	width: 180px;
}
.select-body ul .li-three{
	width: 247px;
	position:relative;
}
.jhfa1especial .select-body ul .li-three{
	width: 262px;
}
.select-body ul .li-four{
	width: 74px;
}
.jhfa1especial .select-body ul .li-four{
	width: 109px;
}
.jhfa1f{
	height: auto;
	margin-top: 12px;
	box-shadow: 0 1px 2px hsl(0, 0%, 83%);
}
.jhfa1f1{
	height: 40px;
    padding-top: 5px;
    padding-left: 5px;
    background-color: #FBFBFA;
    border:1px solid #E5E5E5;
    border-bottom: none;
}
.jhfa1f1 span{
	display: inline-block;
	width:30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #FFFFFF;
	background-image: url(../img/jhfa_btn_04.png);
	background-repeat: no-repeat;
	background-position: center;
	margin-right:3px;
}
/*浠婃棩寮�table鏍峰紡閮ㄥ垎*/
.jhfa1f {
    height: auto;
    margin-top: 20px;
}
.jhfa1f1 {
    height: 40px;
    padding-top: 5px;
    padding-left: 5px;
    background-color: #FBFBFA;
    border: 1px solid #E5E5E5;
    border-bottom: none;
}
.jhfa1f1 span {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    background-image: url(../img/jhfa_btn_04.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 3px;
}
.jhfa1f table{
	 border: 1px solid #EFEFEF;
}
.jhfa1f table tr td{
	border: none;
	font-size: 12px;
}
.jhfa1f table tr  .boder-right {
    border-right: 1px solid #EFEFEF;
    font-size: 13px;
}
.jhfa1f table tr:nth-child(2n){
	background-color: #F5F5F5;
}
#hotJhfaContent .divrelat span {
    position: absolute;
    width: 770px;
    height: 460px;
    left: 0;
    line-height: 460px;
    text-align: center;
    font-size: 28px;
    color: #f66929;
}
.zmPlan{
	height: auto;
}
.zmPlan1{
	height: 40px;
	background-color: #fdfdfd;
	background-image: url(../img/yinying.png);
}
.zmPlan1 ul{
	margin: 0px;
	padding-left:15px;
}
.zmPlan1 ul li{
	float: left;
	display: inline-block;
    padding: 0px;
    color: #5A5A5A;
    width: 87px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border: none;
    cursor: pointer;
}
.zmPlan1 ul .active{
	background-image: url(../img/bg-img3.png);
    color: #FFFFFF;
    border-radius: 4px;
}
.zmPlan2{
	/* height: 931px; */
	height:708px;
	/* padding: 20px; */
	clear: both;
	text-align: center;
	border: 1px solid #DCDCDC;
	border-top: none;
	box-shadow: 0 1px 2px #D3D3D3;
	background-color: #eeeeee;
}
.zmPlan2 .bgcolor pre{
	background-color:#F7F8E7;
	background-image: url(../img/copy123.png);
	background-repeat:no-repeat;
	background-position-y: 46px;
}


/*鏂板css閮ㄥ垎*/
.boutiquePlan{
	display:block;
	height:auto;
}
.boutiquePlan1{
	width:160px;
	height:auto;
	float:left;
}
.boutiquePlan2{
	width:613px;
	height:auto;
	float:left;
}

.boutiquePlan2noeCh{
	width:472px;
}
.boutiquePlan2noeCh .copyNow{
	text-decoration: underline;
    color: #93C702;
}
.boutiquePlan1zmjh .boutiquePlan1b2 ul li{
	background:none;
	border-bottom:1px solid #dcdcdc;
}
.boutiquePlan1a{
	height:99px;
	background-color:#e5e5e5;
	padding:20px 5px;
	font-size:12px;
	cursor:pointer;
}
.hiuhiu{
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateX(0);
	backface-visibility: hidden;
	transform: translateX(0);
}
.boutiquePlan1sdsd{
	position:relative;
	height:140px;
	border-left:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
}
.boutiquePlan1sdsd .boutiquePlan1a{
	position:absolute;
	z-index:200;
	top:0px;
	left:0px;
	width:100%;
	color: #000;
	height:140px;
	overflow:hidden;
	background-color: #fff;
}
 .hiuhiu.out{
	-webkit-transform: rotateY(-90deg) scale(.9);
	-webkit-animation-name: flipouttoleft;
	-webkit-animation-duration: 175ms;
	transform: rotateY(-90deg) scale(.9);
	animation-name: flipouttoleft;
	/* animation-duration: 175ms; */
}
 .hiuhiu.in{
	-webkit-animation-name: flipintoright;
	-webkit-animation-duration: 225ms;
	animation-name: flipintoright;
	 animation-duration: 325ms; 
}
@-webkit-keyframes flipouttoleft {
    from { -webkit-transform: rotateY(0); }
    to { -webkit-transform: rotateY(-90deg); }
}
@keyframes flipouttoleft {
    from { transform: rotateY(0); }
    to { transform: rotateY(-90deg); }
}


@-webkit-keyframes flipintoright {
    from { -webkit-transform: rotateY(90deg); }
    to { -webkit-transform: rotateY(0); }
}
@keyframes flipintoright {
    from { transform: rotateY(90deg); }
    to { transform: rotateY(0); }
}














.boutiquePlan1a p{
	text-align:center;
}
.boutiquePlan1a .pbg{
	line-height:21px;
	padding-left:21px;
	background-image: url(../img/jpjh_a.png);
	background-repeat:no-repeat;
	background-position-x: 19px;
    background-position-y: -1px;
}
.boutiquePlan1b{
	height:auto;
}
.boutiquePlan1b1{
	display:block;
	height:34px;
	width: 100%;
	background-color:#e9608c;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	color:#ffffff;
	padding: 0 0 10px 10px;
	font-size: 14px;
	line-height:40px;
	margin-left: -5px;
}
div.text-center{
	padding:0px;
}
.boutiquePlan1b1 span{
	display:inline-block;
	line-height: 34px;
}
.boutiquePlan1b2{
	height:893px;
	display:block;
	clear:both;
	position:relative;
}
.boutiquePlan1b2ss{
	height:823px;
}
.boutiquePlan1b2 ul{
	margin:0px;
	border-bottom: 1px solid #dedede;
}
.ulspecialse li{
	text-align:center;
}
.boutiquePlan1b2 .jhfaPlanList li{
	height:41px;
	line-height:40px;
	display:block;
	cursor:pointer;
	background-color: #fbfbfb;
	border-top: 1px solid #dedede;
	border-left: 1px solid #dedede;
}
.boutiquePlan1b2 ul li a{
	color:#1783eb;
	font-weight: 600;
}
.boutiquePlan1b2 ul li.active{
	background:none;
	background-color:#e9608c;
	position:relative;
	color: #fff;
	text-align: center;
	border-top: 1px solid #ea4b7e;
	border-left: 1px solid #ea4b7e;
}
.boutiquePlan1b2 .changeNowow li.active{
	background-image:none;
}
.boutiquePlan1b2 ul li .first{
	display:inline-block;
	width:63px;
	text-align:center;
	font-size:12px;
	float:left;
}
.boutiquePlan1b2 ul li .three{
	width:auto;
	text-align:center;
}
.boutiquePlan1b2 ul li .last{
	display:inline-block;
	width:46px;
	text-align:center;
	font-size:12px;
	float:left;
}
.boutiquePlan1b2 ul li .soucang{
	display:inline-block;
	width:24px;
	height:40px;
	background-image: url(../img/sc1.png);
	background-repeat:no-repeat;
	background-position:center;
	float:left;
	cursor:pointer;
}
.boutiquePlan1b2 ul li .soucang.active{
	background-image: url(../img/scs.png);
}
.boutiquePlan1b2 ul li.active .aOne{
	display:inline-block;
	width:48px;
	height:28px;
	background-image: url(../img/shoucang.png);
	background-repeat:no-repeat;
	background-position-y:center;
	position:absolute;
	right:-1px;
	top:5px;
	z-index:103;
}
.specialNewNow{
	height:auto;
	padding:10px 5px;
	background-color:#ffffff;
	border-bottom:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
}
.specialNewNow1{
	height:auto;
	line-height:40px;
}
.specialNewNow1 .spanOne{
	float:left;
}
.specialNewNow1 .spanTwo{
	float:left;
}
.specialNewNow1 .spanTwo .radiobg{
	color: #e9608c;
	border: 1px solid #cfcfcf;
	border-radius: 10px;
	padding: 4px 16px;
	margin-right: 20px;
}
.specialNewNow1 .ulOne{
	display:inline-block;
	float:left;
	margin:0px;
}
.specialNewNow1 .ulTwo{
	display:inline-block;
	float:left;
	margin:0px;
}
.specialNewNow1 .ulOne li{
	float:left;
	width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: default;
    border-radius: 50%;
    color: #000;
    font-weight: bold;
    padding: 0px;
    margin-left:5px;
    font-size: 14px;
    text-align:center;
    background-color: #eff6fa;
    border: 1px solid #d7e5ec;
}
.specialNewNow1 .ulOne li.active{
	background-color: #e9608c;
	border: 1px solid #d74b78;
	color: #fff;
}
.specialNewNow1 .ulTwo li{
	float:left;
	width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: default;
    border-radius: 50%;
    color: #333333;
    padding: 0px;
    margin-left:5px;
    text-align:center;
    font-weight: 600;
}
.specialNewNow1 .ulTwo .active{
	color:#e9608c;
}
.specialNewNow1.colorlv{
	color:#53c6e9;
}
.specialNewNow1-special{
	line-height:40px;
}
.specialNewNow1-special .ulTwo li{
	height:40px;
	line-height:40px;
}
.boutiquePlan1zmjh{
	width:300px;
}
.nobgNow .pbg{
	background:none;
	padding-left:0px;
}
.nobgNow p{
	margin:5px;
	text-align:left;
}
.boutiquePlan1a.nobgNow{
	padding:4px 5px;
}
.bypl{
	height:auto;
	margin-top:5px;
}
.bypl .bypl1{
	height:30px;
	line-height:30px;
	padding-left:10px;
	border-bottom:1px solid #d21e1e;
}
.bypl .bypl1a{
	display:inline-block;
	width:94px;
	height:30px;
	text-align:center;
	color:#ffffff;
	background-image: url(../img/bpl.png);
    background-repeat: no-repeat;
    background-position: center;
}
.bypl .bypl1b{
	display:inline-block;
	padding-left:20px;
	font-weight:bold;
}
.bypl2{
	height:auto;
}
.bypl2ul{
	display:inline-block;
	margin:0px;
	float:left;
}
.bypl3 .bypl2ul{
	display:block;
}
.bypl2ul li{
	cursor:pointer;
	float:left;
	text-align:center;
	height: 28px;
	padding-right:5px;
	padding-left:5px;
    line-height: 28px;
    color:#005aa0;
}
.bypl2ul .hoverStyle{
	color:#d21e1e;
}
.bypl2ul .active{
	color:#d21e1e;
}
.bypl2ff{
	height:auto;
	border:1px solid #dcdcdc;
	border-top:none;
}
.bypl2 .moeOne{
	display:inline-block;
	width:56px;
	height:28px;
	float:left;
	background-image: url(../img/more_01.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor:pointer;
}
.bypl2 .activeNow{
	background-image: url(../img/more_02.png);
}
.bypl3{
}
.bypl2 .table{
	margin-bottom:0px;
	border:1px solid #f7854d;
	background-color:#ffd9d1;
}
.bypl2 .table .border-no td{
	border-top: none;
    padding: 8px 0px;
    font-size: 12px;
}
.bypl2 .table tr td{
	border:1px solid #FB9A9A;
	text-align:center;
	color:#6a0704;
	cursor:pointer;
}
.bypl2 .table tr td .spanOne{
	font-weight:bold;
	color:#138AC3;
}
.bypl2 .table tr .hoverStyle{
	color:#ffffff;
	background-color:#333;
}
.bypl2 .table tr .active{
	color:#ffffff;
	background-color:#333;
}
.bypl1c{
	color:#999;
	display:inline-block;
	padding-left:20px;
	background-image: url(../img/jpjh_a.png);
	background-repeat:no-repeat;
	background-position-y: 3px;
	margin-left:10px;
}
.copy-tips {
    position: fixed;
    z-index: 999;
    bottom: 50%;
    left: 50%;
    margin: 0 0 -20px -80px;
    background-color: rgba(0,0,0,0.2);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#30000000,endColorstr=#30000000);
    padding: 6px;
}
.copy-tips-wrap {
    padding: 10px 20px;
    text-align: center;
    border: 1px solid #f4d9a6;
    background-color: #fffdee;
    font-size: 14px;
}
.mySoucang{
	height:auto;
	border-bottom:none;
}
.mySoucang1{
	height: 40px;
    background-color: #fff6e8;
    text-align: left;
    padding-left: 10px;
    line-height: 40px;
    color: #000;
    border-top: 1px solid #f5dee5;
    border-left: 1px solid #f5dee5;
    font-size: 14px;
    cursor: pointer;
}
.mySoucang1.hoverStyle{
	opacity:.8;
}
.mySoucang1.active{
	background-image: url(../img/up123.png);
	background-position: 140px;
	background-repeat: no-repeat;
	font-size:14px;
}
.mySoucang2{
	height:auto;
}
.mySoucang2 ul{
	margin:0px;
}
.mySoucang2 ul li{
	display:block;
	line-height:40px;
	border-bottom:1px solid #b26c04;
	background-color:#faab5b;
	cursor:pointer;
}
.mySoucang2 ul li:nth-child(even){
	background-color:#ff9933;
}
.mySoucang2 ul li .spanOne{
	display:inline-block;
	width:60%;
	text-align:center;
	float:left;
}
.mySoucang2 ul li .spanTwo{
	display:inline-block;
	width:40%;
	text-align:center;
	float:left;
}
.mySoucang2 ul li .spanTwo a{
	color:#496a94;
	font-size:12px;
}
.mySoucang2 ul li .spanTwo a:hover{
	text-decoration:underline;
}
.mySoucang3{
	height:auto;
	cursor:pointer;
}
.mySoucang3 ul{
	margin:0px;
	font-size:12px;
}
.mySoucang3 ul li{
	display:block;
	text-align:center;
	line-height:40px;
	border-top:1px solid #d2eeec;
	border-left:1px solid #d2eeec;
	background-color:#e5f6f5;
	color:#000;
	font-size: 14px;
	cursor:pointer;
}
.mySoucangNow{
	border-top:none;
}
.beautyNow{
	height:38px;
	padding-left:10px;
	border: 1px solid #e5e5e5;
}
.beautyNow .radio{
	display:inline-block;
}
.beautyNow1{
	color:#e9608c;
	font-size:14px;
}
.beautyNow .bubble1{
	float:right;
	display:inline-block;
	position:relative;
	margin-right: 30px;
}
.beautyNow .bubble2{
	width: 300px;
    height: 80px;
    background-color: #ffffff;
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    position: absolute;
    padding: 10px;
    left: 62px;
    top: 11px;
    z-index: 100;
    box-shadow: 1px 1px 8px;
}
.beautyNow .bubble{
	display: inline-block;
    text-align: center;
    font-size: 12px;
    color: #fff;
    height: 20px;
    line-height: 20px;
    padding: 0 15px 0 10px;
    margin-top: 8px;
    cursor:pointer;
    background-color: #e9608c;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.moseoverNow{
	width: 410px;
    height: 41px;
    padding: 5px;
    position: fixed;
    top: 50%;
    left: 39%;
    z-index: 1002;
    background-color: #333333;
    opacity: .9;
    line-height: 31px;
    color: #ffffff;
    text-align: center;
}